@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #D3D3D3;
}
p {
color: #D3D3D3;
font-family: Courier new;
font-size: 30px;
font-align: left; 

}

.tasks {
  padding-top: 200px;
  font-size: 25px;
  font-style: Courier New;
}

#description {
  font-style: italic; 
  font-size: 20px;
  

}

#time {
  font-weight: lighter;
  font-size: 18px;
}

#delete_edit {
  font-size: 18px;
}

h3 {
  text-indent: 1.5em;
}

